In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("Data/clinical_trial_condition_string_counts_unmappable.csv")
df.columns=['trials_appeared_in','condition_string']

In [24]:
df

       trials_appeared_in                                   condition_string
0                       2                                     grade approach
1                       1                         neural tube defects (ntds)
2                       8                        frontotemporal degeneration
3                       1  primary mediastinal large b-cell lymphoma refr...
4                       1                              loss of breast volume
...                   ...                                                ...
94682                   2                               acute-phase reaction
94683                   1                                 brain stem gliomas
94684                   1   sedative-related disorders; subsequent encounter
94685                   1                                    gait retraining
94686                   1             refractory primary vitreoretinal dlbcl

[94687 rows x 2 columns]

In [16]:
df2 = df.value_counts('count').to_frame().reset_index()
df2.columns=['trials_appeared_in','term_count']

In [18]:
df2.sort_values('trials_appeared_in',ascending=False)

     trials_appeared_in  term_count
327                3725           1
241                2573           1
240                2258           1
239                2115           1
238                1801           1
..                  ...         ...
4                     5        1923
3                     4        2999
2                     3        4885
1                     2       10916
0                     1       63309

[328 rows x 2 columns]

In [26]:
after_march = set()
with open("Data/unmappable_after_march.txt") as f:
    for line in f:
        after_march.add(line.strip())
df['after_march'] = [cond in after_march for cond in df["condition_string"]]

In [28]:
df.after_march.sum()

489

In [33]:
df[(df.after_march) & (df.trials_appeared_in >= 5)]

       trials_appeared_in                 condition_string  after_march
653                   197         malignant solid neoplasm         True
758                   463                         hiv/aids         True
1197                    8            cytomegalovirus (cmv)         True
1574                   36             adult solid neoplasm         True
1794                   21               bk virus infection         True
...                   ...                              ...          ...
92678                 181           postoperative delirium         True
93257                 165  metastatic renal cell carcinoma         True
93302                  21         acute postoperative pain         True
94507                  55                urge incontinence         True
94521                 110             psychological stress         True

[347 rows x 3 columns]

In [34]:
df[(df.after_march)].to_csv("Data/unmappable_conditions_after_march.csv")